<!doctype html>
<html lang="en">

<head>
    <title>DinhPlus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- custom css  -->
    <link rel="stylesheet" href="stylesheet.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- content below  -->
    <!-- header  -->


    <!-- body  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hi! I am Dinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/introduce/index.pdf" target="_blank">MyCV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/blogs">Blogs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container row justify-content-center m-auto">
        <div class="center-content row  justify-content-center m m-auto">
            <h1>
                Câu truyện về lần đầu đi xin thực tập
            </h1>
            <p>
                &nbsp; Nói thế nào nhỉ? 🙄🙄 Cũng 1 tuần trôi qua kể từ ngày kinh hoàng ấy và giờ mình mới có lại sự bình tĩnh cũng như thời gian để ngồi viết lại mấy dòng linh tinh này. Đó là một ngày khá nắng, giữa những ngày cuối tháng 7 Hà Nội và cũng hơn 1 tuần
                rồi chưa có hạt mưa nào. Mình vẫn đang bận ôn thi sấp mặt cho những môn học trên trường nên mình cũng chẳng có ôn hay chuẩn bị bất cứ câu hỏi nào, đến phỏng vấn với tinh thần thành thật và thẳng thắn.
            </p>
            <p>&nbsp; Quay trở lại 1 tuần trước đó, đứa em mình, tên Q nhắn tin bảo "Anh ơi em đang đi thực tập được 2 tuần rồi", và những câu truyện sau đó mình biết được Q được người thân giới thiệu vào đó, nói thẳng ra là gửi vào đó để học việc. Công
                ty đó mình xin phép không nêu tên, có thể hiểu đó là một start-up công nghệ chuyên cung cấp giải pháp, dịch vụ quản lý và bán hàng cho doanh nghiệp vận tải. Q gợi ý mình xin vào đó để thực tập, đó là một môi trường mới mẻ và năng động.
                Mình vốn nghĩ sau khi thi học kì xong mình sẽ dành thời gian để suy nghĩ nghiêm túc về việc xin đi thực tập, nhưng chẳng hiểu sao khi đó mình chẳng suy nghĩ gì cả và hỏi luôn cách để ứng tuyển vào công ty (đương nhiên là đường đường đường
                chính chính chứ hổng phải tiểu ngạch như Q).
            </p>
            <p>&nbsp; Mình có dành thời gian để tìm hiểu về cty, xem qua trang web cũng như các ứng dụng mà công ty đó đang cung cấp. Thứ đầu tiên mình thấy được là sản phẩm/giải pháp công ty đang cung cấp đều là trên nền tảng di động, trong khi mình còn
                chưa có thời gian tìm hiểu về nó (thực tế mình mới chỉ đang bập bẹ học về web thôi).
                <br>&nbsp; Nhưng rồi mình lại nghĩ, không biết gì chẳng phải càng dễ học hơn sao, đó là một thứ gì đó mới mẻ và đáng để học, trên bước đường trở thành fullstack developer thì không nên từ chối bất kì kiến thức nào cả. Thế là mình liền
                tạo ngay một chiếc CV xinh xinh (thật ra không xinh lắm) qua công cụ có sẵn của topcv, và gửi ngay một email cho đơn vị tuyển dụng của công ty đó. Ngay trong ngày hôm đó mình nhận được cuộc gọi xác nhận và email mời phỏng vấn.
                <br>&nbsp; Cảm giác lúc đó cũng khá là vui và hồi hộp, lần đầu tiên đi xin việc mà. Cá nhân mình đứng trước mỗi việc mình đánh giá là quan trọng thì cũng đều hồi hộp như thế, nhịp tim trung bình không tăng 20 cũng tăng 10 🤪.
            </p>
            <p>
                Trở lại vấn đề, mình hiểu rằng nếu cố học nhanh một số thứ gì đó chỉ phục vụ cho một buổi phỏng vấn chỉ để qua mắt nhà tuyển dụng thì nó không cần thiết, mình đang muốn tìm một môi trường để học hỏi nhiều hơn, nên mình chọn cách thành trả lời thành thật.
                Mình vẫn dành thời gian để ôn thi, vì trước mắt mình phải vượt qua kì thi ở trên trường để không để lại gánh nặng về sau. Đến ngày hẹn phỏng vấn, mình chủ động đến sớm 1 tiếng trước giờ hẹn, thế nhưng tắc đường khiến mình di chuyển tốn
                nhiều hơn thời gian dự kiến 10 phút.
                <br>&nbsp; Không sao, đến nơi mình vẫn còn 50 phút, mình dành thời gian để lượn lờ quanh toàn nhà, (cái này khá quan trọng, bạn sẽ không biết nơi bạn đến làm việc hằng ngày có những gì nếu chỉ chăm chăm lao vào hầm gửi xe). Hết 15 phút
                để tìm hiểu tình hình qua các bác xe ôm, giờ thì mình sẵn sàng rồi, lao xe vào hầm gửi xe và ôi mình choáng ngợp bởi hầm gửi xe tận 3 tầng và rộng đúng bằng diện tích mặt nền của cả lô đất phía trên nó. Tuy nhiên mình loay hoay hết 15
                phút chỉ để kiếm chỗ dựng xe vì các chỗ gửi xe máy cho vé lượt đều đã kín chỗ.
            </p>
            <p>
                Mình mất thêm 10 phút để di chuyển tìm được vị trí văn phòng của công ty. Đến nơi khi còn 10 phút, mình chủ động gọi theo số điện thoại được cho mình qua email xác mời phỏng vấn, sau đó có người ra đón mình vào. Cái đầu tiên mình thấy là mọi người đang
                làm việc rất tập trung, nhất là đội dev, tuy nhiên các anh chị làm ở mảng khác cũng dành thời gian chào hỏi làm quen với mình, qua đó mình cũng đỡ căng thẳng đi phần nào. Đương nhiên, đứa em mình đang chiễm trệ một chỗ ở đó ngồi làm việc
                của nó vẫn là người tiếp chuyện chính của mình.
            </p>
            <p> &nbsp; Không để mình chờ lâu, đúng giờ thì anh tuyển dụng kia ra gọi mình vào phỏng vấn, thật ra hôm đó chẳng còn ai nữa ngoài mình vì công ty đó cũng không trong đợt tuyển thực tập sinh. Sau khi vào phòng thì mình hơi bất ngờ, vì người phỏng
                vấn mình không phải là người đã liên lạc với mình, qua giới thiệu mình được biết người phỏng vấn mình có một anh là CTO và anh còn lại là tech leader của công ty (Cảm giác áp lực và hồi hộp x2, cũng có gì đó biết ơn vì sự quan tâm của
                các anh ấy dành cho mình).
                <br> &nbsp; Qua CV của mình thì anh ấy cũng biết mình không có kiến thức về mobile nên anh ấy cũng không hỏi gì mình về chuyên môn cả, chỉ hỏi xem mình từng làm việc với những công nghệ nào, biết những gì, mọi thứ đều nằm ở mức độ liệt
                kê. Anh ấy đặt một số câu hỏi về cuộc sống, học tập của mình, những câu hỏi khá nhẹ nhàng và đơn giản thôi. Nhưng sau một hồi mình khá buồn (không ngạc nhiên lắm) khi anh ấy nói anh ấy sẽ không thể tuyển mình vì mình vị trí địa lý, không
                ủng hộ, thứ 2 là mình còn bận đi học ở trên trường dẫn đến việc chỉ có thể đi partime, tốn thời gian của mình và việc đào tạo - học việc trở nên kém hiệu quả.
                <br> &nbsp; Lúc đó đột nhiên mình cảm giác không còn sự chủ động nữa, cũng chỉ biết nói "vâng" thôi vì câu trả lời của anh ấy quá rõ ràng rồi. Anh ấy khuyên mình nên kiếm nơi thực tập nào đó gần hơn để tận dụng tốt quỹ thời gian và kiến
                thức mình đang có. Mình cũng khá cảm ơn vì anh ấy đã thành thật và không để mình phải "chờ đợi câu trả lời qua mail" như một số reviews mình từng xem. Sau tầm 20 phút phỏng vấn (nói chuyện) thì anh ấy cũng chào và tiễn mình về.
                <br> &nbsp; Mặc dù kết quả mình cũng đã giả định trước tuy nhiên đó là lần đầu đi phỏng vấn của mình, thật nhiều cảm xúc lẫn lộn luôn. Giờ đã một tuần trôi qua và mình thấy ổn hơn, ngồi lảm nhảm vậy thôi. hihi



            </p>

        </div>


    </div>


</body>

</html>