<!doctype html>
<html lang="en">

<head>
    <title>DinhPlus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- custom css  -->
    <link rel="stylesheet" href="stylesheet.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- content below  -->
    <!-- header  -->


    <!-- body  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Hi! I am Dinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/introduce/index.pdf" target="_blank">MyCV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/blogs">Blogs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container row justify-content-center m-auto">
        <div class="center-content row  justify-content-center m m-auto">
            <strong>
                Nghĩ đến sự thất bại trước khi bắt đầu, ngay từ đầu bạn đã thua cuộc ?
            </strong>
            <img src="/image/sen.jpg" alt="">
            <p>
                &nbsp; Mấy ngày nay cảm xúc mình rối bời như một mớ bòng bong vậy. Mình ngồi tự vấn mình ở đây, đã và đang làm gì, rồi tiếp theo mình sẽ làm gì? Mình thật không hề có câu trả lời cho điều đó.
            </p>
            <p>
                &nbsp&nbsp Rồi mình tự hỏi người ta là ai, sao mình nghĩ về người ta nhiều đến như vậy. Ngày hôm trước sau khi commit bài kia lên trang blog trên Git của mình, mình cảm thấy thoải mái và dễ chịu hơn nhiều. Nhưng rồi ngay ngày hôm sau đó bản thân mình
                cũng đã cảm thấy sự bất ổn ở chính bản thân mình. Mình dành nhiều thời gian hơn vào việc chăm sóc cái profile (vốn rỗng tuếch chẳng có gì ) trên fb của mình, dành hàng chục lần mỗi ngày để lướt vào xem facebookwall của bạn ý (mình xin
                phép không nhắc lại tên nhưng những người biết chuyện ở đây đều hiểu đó là ai rồi), đó là một cái trang cá nhân rỗng tuếch không có bài đăng nào. <br>&nbsp &nbsp Thứ duy nhất mình biết và tin tưởng ở đây là tài khoản đó,
                ở đầu phía bên kia có người đang dùng, và đúng là người mà đang làm cho mình rối loạn cảm xúc.
            </p>
            <p>
                &nbsp; Hồi còn chơi cờ vua, mình được dạy là phải chắc chắn cho từng nước đi, có nghĩa là điều gì không biết chắc chắn thì đừng làm. Mình cũng tự hình thành co mình một thói quen suy nghĩ thật nhiều về lợi hại, được mất trước khi bắt tay vào làm cái gì
                đó. Vì thế cho đến giờ mình chẳng có gì, kinh doanh có rủi ro, mình không chắc phần thắng và cảm thấy không chịu được xác suất to lớn của thất bại cũng như hậu quả của nó để lại ( trắng tay), và vì không bắt đầu nên mình vẫn trắng tay.
                <br> &nbsp; Về tình cảm ư, vẫn như bao lần, mình sợ cảm giác mất đi một ai đó, mình rành tình cảm mãi cho một người cho đến khi người đó rời xa mình nhưng mình vẫn không đủ bản lĩnh một lần thể hiện tình cảm đó. Mọi người đọc xong gọi
                mình là gì cũng có thể, mình xứng đáng được (bị) nhận xét như thế. Fine!
            </p>
            <p>
                &nbsp;Vào vấn đè chính, ngày hôm nay mình đã nói chuyện với H (một người bạn tốt, một người em gái ), ngoài việc nhẹ nhõm tạm thời về mặt tâm lý nhờ vào việc chia sẻ những cảm xúc tiêu cực ở hiện tại, mình chưa tìm được hướng đi mới cho bản thân. Đó là
                một thứ cảm xúc mà không có một thứ ngôn từ nào có thể diễn tả hết được, mình thật sự bất lực và bế tắc. Điều này xảy ra thường xuyên khi có một ai đó lướt qua cuộc sống của mình như thế này đây. Sau một cuộc trò truyện khá dài thì mình
                lại tiếp nhận được kha khá thông tin mà mình cảm thấy nó là hữu ích với với việc cai nghiện tình cảm của mình, không biết ngày mai mình sẽ ra sao nhưng nó sẽ là cần gạt thúc đẩy mình đưa ra quyết định. Và giờ đây mình sẽ cất cảm xúc qua
                một bên để cho lý trí tiếp quản công việc tiếp theo. <br> &nbsp; Giờ đây mình cảm thấy may mắn vì vẫn chưa làm việc gì quá ngu ngốc, ít nhất là việc suy nghĩ đến sự thất bại đã được diễn ra trước, tuy nó làm giảm hiệu năng
                trong trường hợp khác nhưng ở đây nó hoàn toàn đem lại hiệu quả. Có thể mình đã bỏ lỡ một cơ hội nào đó nhưng mình không ân hận vì mình biết mình có thể dành tâm huyết vào những điều tốt đẹp và xứng đáng hơn cho tất cả.
            </p> Gửi người bạn ẩn danh vẫn chưa biết mình là ai, có thể mãi mãi bạn chẳng đọc đến những dòng này đâu, nhưng mà dù gì cũng cảm ơn sự xuất hiện của bạn, mình sẽ gói gém mọi thứ lại và thu dọn hành lý nhanh thôi.
            <strong>_________________________Love all!!!</strong>
            </p>
            <video controls>
                <source src="/image/videos/y2mate.com - NGÀY MAI SẼ KHÁC - LÊ HIẾU _ OFFICIAL MV_d8dCiTki6-E_1080p.mp4">
            </video>

        </div>


    </div>


</body>

</html>